.valhalla{
  background-color: #3d3c3c;

header{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #000;
  justify-content: space-between;
  padding: 10px 50px;
}
header img{
  width: 100px;
}
header a{
  color: #ffff;
  text-decoration: none;
}

.mundo
{
display: flex;
justify-content: center;
gap: 20px;
align-items: center;
}
.mundo button{
  background-color: #000;
  color: #ffff;
  border: #ffff solid 1px;
  width: 120px;
  height: 40px;
  border-radius: 50px;
  font-size: 20px;
}
.mundo img
{
 width: 25px;
 height: 25px;
}

.as
{
  display: flex;
  flex-direction: row;
 gap: 30px;
 align-items: center;
 font-size: 20px;
}
.img-val
{
  margin-right: 650px;
}

.traco 
{
  font-size: 30px;
}

.corpo{
  background-color: #3333;
  color: #ffff;
  gap: 30000px;
  margin-bottom: 500px;
}


.corpo h4{
  padding: 0px 100px;
  margin-top: 83px;
  
}

.centro{
  display: flex;
  flex-direction: row;
  color: #ffff;
  gap: 280px;
  padding: 0px 100px;
  
  
}

.centro h1{
  width: 500px;
  font-size: 40px;
}
.centro p{
  margin-top: 33px;
}

}